#hamburger
{   
  cursor:pointer;
  pointer-events:auto;
  position:fixed;
  display:block;z-index:999999;
  -webkit-transform-origin:center center;
  -moz-transform-origin:center center;
  transform-origin:center center;
  top:30px
}
#hamburger
{
  right:2.5%;
  z-index:999;
  height:32px;
  width:40px
}
#hamburger
{
  display:none
}
html #hamburger span
{
  width:100%;
  height:2px;
  display:block;
  transition:all 1s cubic-bezier(1,.02,0,.96);
}
#hamburger .first,#hamburger .second,#hamburger .third
{
  position:absolute;
  left:0
}
#hamburger .first
{
  top:0
}
#hamburger .second
{
  top:50%;
  margin-top:-1px
}
#hamburger .third
{
  bottom:0
}
#hamburger.clicked
{
  transform:rotate(-90deg);
}
#hamburger.clicked .first,#hamburger.clicked .second
{
  top:-3px
}
#hamburger.clicked .first
{
  transform:rotate(60deg) translateX(50%);
}
#hamburger.clicked .second
{
  transform:rotate(-60deg) translateX(-50%);
}
#hamburger.clicked .third
{
  bottom:-1px;
}
#hamburger span
{
  background-color:#e2b8aa;transition:all .2s linear;
}
#hamburger:hover span,#hamburger:focus span
{
  animation:changeBackgroundColor 4s linear infinite alternate;
}
#hamburger
{
  top:12px;right:7.5%;
}
#hamburger
{
  pointer-events:auto;
}
#hamburger
{
  z-index:999999999999;width:35px;height:26px;
}
#hamburger.clicked .third
{
  bottom:-4px;
}